<!-- The Modal -->
<div id="myModal" class="custom-modal">
    <div class="modal-content">
        <div class="custom-popup-form">
            <div class="wrapper">
                <div class="logo">
                    <img class="header-logo-image"
                         src="http://cdn3.bigcommerce.com/s-3f6tjp8j2b/images/stencil/300x300/safariland-vievu-logo_1493832392__99560_1501096951_1504718412.original.png"
                         alt="Vievu Staging" />
                </div>

                <p>VIEVU Solution PRO Subscription purchase: complete steps 1 through 5</p>

                <div class="steps-nav">
                    <span class="bold">Step <span class="step-number">1</span>:</span>

                    <ul class="steps-nav-items">
                        <li class="steps-nav-item step-one step-active">Authorization</li>
                        <li class="steps-nav-item step-two">Contact Information</li>
                        <li class="steps-nav-item step-three">Admin Information</li>
                        <li class="steps-nav-item step-four">Acknowledgement</li>
                        <li class="steps-nav-item step-five">Checkout</li>
                    </ul>
                </div>

                <div class="outline">
                    <div class="step step-one">
                        <p>Microsoft Azure Government cloud eligibility requirements: please
                            indicate which government entity is being represented</p>
                        <ul class="comply">
                            <li>
                                <label for="entity-federal">
                                    <input name="agreement-entity" value="federal" id="entity-federal" type="radio"/> United States Federal Government agency
                                </label>
                            </li>
                            <li>
                                <label for="entity-local">
                                    <input name="agreement-entity" value="local" id="entity-local" type="radio"/> Local Government agency
                                </label>
                            </li>
                            <li>
                                <label for="entity-state">
                                    <input name="agreement-entity" value="state" id="entity-state" type="radio"/> State Government agency
                                </label>
                            </li>
                            <li>
                                <label for="entity-tribal">
                                    <input name="agreement-entity" value="tribal" id="entity-tribal" type="radio"/> Tribal Government agency
                                </label>
                            </li>
                        </ul>

                        <hr />

                        <p>Microsoft Azure Public Cloud (non-government/personal): please choose between the following</p>
                        <ul>
                            <li>
                                <label for="usage-business">
                                    <input name="agreement-entity" id="usage-business" value="business" type="radio"/> Business use - purchasing for a non-government organization
                                </label>
                            </li>

                            <li>
                                <label for="usage-government">
                                    <input name="agreement-entity" id="usage-government" value="government" type="radio"/> Personal use - government employees purchasing for personal use
                                </label>
                            </li>

                            <li>
                                <label for="usage-personal">
                                    <input name="agreement-entity" id="usage-personal" value="personal" type="radio"/> Personal use - non-government persons
                                </label>
                            </li>
                        </ul>

                        <hr />

                        <p class="bold">Confirm you are authorized to purchase the VIEVU Solution PRO software licences on
                            behalf of the entity designated above. You will be listed as the Primary Authorized
                            Contact on the order.</p>

                        <div class="actions">
                            <a href="#" class="button yes button-next disabled">Yes, I am Authorized</a> <a href="#" class="button no button-cancel disabled">No</a>
                        </div>
                    </div> <!-- STEP ONE ENDS -->

                    <div class="step step-two" style="display: none;">
                        <form>
                            <div class="half-column company-info">
                                <h2>Agency Information</h2>
                                <ul>
                                    <li data-required>
                                        <label for="agency-name">Agency Legal Name</label>
                                        <input type="text" name="agency-name" id="agency-name" />
                                    </li>
                                    <li data-required>
                                        <label for="agency-abbr">Agency Abbreviation</label>
                                        <input name="agency-abbr" id="agency-abbr" type="text" />
                                    </li>
                                    <li data-required>
                                        <label for="agency-address-1">Agency Address 1</label>
                                        <input name="agency-address-1" id="agency-address-1" type="text" />
                                    </li>
                                    <li>
                                        <label for="agency-address-2">Agency Address 2</label>
                                        <input name="agency-address-2" id="agency-address-2" type="text" />
                                    </li>
                                    <li data-required>
                                        <label for="agency-city">Agency City</label>
                                        <input name="agency-city" id="agency-city" type="text" />
                                    </li>
                                    <li data-required>
                                        <label for="agency-zip">Agency Zip</label>
                                        <input name="agency-zip" id="agency-zip" type="text" />
                                    </li>
                                    <li data-required>
                                        <label for="agency-state">Agency State</label>
                                        <div class="select-style">
                                            <select name="agency-state" id="agency-state">
                                                <option value="">Select State</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AS">American Samoa</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="AF">Armed Forces Africa</option>
                                                <option value="AA">Armed Forces Americas</option>
                                                <option value="AC">Armed Forces Canada</option>
                                                <option value="AE">Armed Forces Europe</option>
                                                <option value="AM">Armed Forces Middle East</option>
                                                <option value="AP">Armed Forces Pacific</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District of Columbia</option>
                                                <option value="FM">Federated States Of Micronesia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="GU">Guam</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MH">Marshall Islands</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="MP">Northern Mariana Islands</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PW">Palau</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="PR">Puerto Rico</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VI">Virgin Islands</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li data-required>
                                        <label for="agency-acct">Account Name</label>
                                        <input name="agency-acct" id="agency-acct" type="text" disabled="disabled" readonly />
                                    </li>
                                </ul>
                            </div>

                            <div class="half-column primary-contact">
                                <h2>Primary Authorized Contact</h2>
                                <ul>
                                    <li data-required><label for="contact-fname">First Name</label> <input name="contact-fname" id="contact-fname" type="text"></li>
                                    <li data-required><label for="contact-lname">Last Name</label> <input name="contact-lname" id="contact-lname" type="text"></li>
                                    <li data-required><label for="contact-phone">Phone Number</label> <input name="contact-phone" id="contact-phone" type="text"></li>
                                    <li data-required><label for="contact-role">Role/Rank</label> <input name="contact-role" id="contact-role" type="text"></li>
                                </ul>

                                <p>You may add additional authorized contacts once your account is set up.</p>
                            </div>

                            <hr />

                            <div class="actions">
                                <span class="desc-text">* indicates required field</span>
                                <a href="#" class="button button-prev">Back</a>
                                <a href="#" class="button button-next">Next</a>
                            </div>
                        </form>
                    </div> <!-- STEP TWO ENDS -->


                    <div class="step step-three" style="display: none;">
                        <div class="half-column administrator-information">
                            <h2>Administrator Information</h2>
                            <ul>
                                <li data-required><label for="admin-fname">First Name</label> <input name="admin-fname" id="admin-fname" type="text" /></li>
                                <li data-required><label for="admin-lname">Last Name</label> <input name="admin-lname" id="admin-lname" type="text" /></li>
                                <li data-required><label for="admin-phone">Phone</label> <input name="admin-phone" id="admin-phone" type="text" /></li>
                                <li data-required><label for="admin-role">Role/Rank</label> <input name="admin-role" id="admin-role" type="text" /></li>
                            </ul>
                        </div>

                        <div class="half-column security-information">
                            <h2>PRO Account Security Information</h2>
                            <ul>
                                <li data-required><label for="admin-email">Administrator Email</label> <input name="admin-email" id="admin-email" type="text"></li>
                                <li data-required><label for="admin-username">Agency Username</label> <input name="admin-username" id="admin-username" type="text"></li>
                                <li data-required><label for="admin-password">Agency Password</label> <input name="admin-password" id="admin-password" type="password"></li>
                                <li data-required><label for="admin-verify">Verify Password</label> <input name="admin-verify" id="admin-verify" type="password"></li>
                                <li data-required>
                                    <label for="admin-question">Validation Question</label>
                                    <div class="select-style">
                                        <select name="admin-question" id="admin-question">
                                            <option value="">Select Question</option>
                                            <option value="0">What was the name of your elementary school?</option>
                                            <option value="1">What was the name of your first pet?</option>
                                            <option value="2">Who is your favorite superhero?</option>
                                            <option value="3">Who is your favorite author?</option>
                                        </select>
                                    </div>
                                </li>
                                <li data-required><label for="admin-answer">Validation Answer</label> <input name="admin-answer" id="admin-answer" type="text"></li>
                            </ul>
                        </div>

                        <hr />

                        <div class="actions">
                            <a href="#" class="button button-prev">Back</a>
                            <a href="#" class="button button-next">Next</a>
                        </div>
                    </div> <!-- STEP THREE ENDS -->

                    <div class="step step-four" style="display: none;">
                        <p>This is the VIEVU Solution PRO Services Agreement.  Please read and scroll to bottom of agreement to click AGREE button.</p>
                        <div class="agreement-wrapper">
                            <p class="align-middle">
                                <b class="underline">VIEVU Solution PRO Services Agreement</b><br />
                                (Cloud-Based Storage)
                            </p>

                            <p>THIS VIEVU SOLUTION PRO SERVICES AGREEMENT (THE &ldquo;<b>PRO SERVICES AGREEMENT</b>&rdquo;) IS MADE AND ENTERED INTO BY
                                AND BETWEEN VIEVU, LLC, A STATE OF WASHINGTON LIMITED LIABILITY COMPANY (&ldquo;<b>VIEVU</b>&rdquo;), WITH A PRINCIPAL PLACE
                                OF BUSINESS LOCATED AT 645 ELLIOT AVE. W., SUITE #370, SEATTLE, WA 98119, AND THE CUSTOMER LISTED ON THE
                                ORDER (THE &ldquo;<b>CUSTOMER</b>&rdquo;). CUSTOMER AND VIEVU ARE EACH A &ldquo;PARTY,&rdquo; AND TOGETHER, THE &ldquo;PARTIES&rdquo; TO THIS PRO
                                SERVICES AGREEMENT. CAPITALIZED TERMS NOT DEFINED IN THIS ORDER SHALL HAVE THE MEANINGS GIVEN THEM IN
                                THE VIEVU SOLUTION STANDARD TERMS AND CONDITIONS INCORPORATED HEREIN AND ATTACHED HERETO AS <span class="underline">EXHIBIT
                                    A.</span></p>

                            <p class="align-middle"><b class="underline">ORDER</b></p>
                            <dl class="form-horizontal">
                                <dt><b class="underline">Customer Name:</b></dt>
                                <dd class="contact-name"></dd>

                                <dt><b class="underline">Principal Place of Business:</b></dt>
                                <dd>
                                    <span class="street_address"></span>
                                    <span class="street_city"></span>
                                    <span class="street_state"></span>
                                    <span class="street_zip"></span>
                                </dd>
                            </dl>

                            <ol>
                                <li>
                                    <p>
                                        <b class="underline">VIEVU Solution.</b> Pursuant to this Order form (the &ldquo;<b>Order</b>&rdquo;), VIEVU will provide to Customer: (a) web-based software application
                                        provided on a &ldquo;software as a service&rdquo; (SaaS) basis used to facilitate the upload and management of audio, video and other files
                                        created by a Camera, or other file content (the &ldquo;<b>Solution PRO Software</b>&rdquo;); and (b) Cloud Storage (as selected by Customer in the
                                        Order) (collectively, Solution PRO Software, and Cloud Storage, the &ldquo;<b>VIEVU Solution</b>&rdquo;), in each case subject to the standard terms
                                        and conditions set forth on <span class="underline">Exhibit A</span>.
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <b class="underline">Solution Fees.</b> Except where additional price or fee is noted in this Order, the VIEVU Solution will be provided at the aggregate
                                        amount in the monthly fee listed in the Order (the &ldquo;<b>Solution Fees</b>&rdquo;).
                                    </p>
                                </li>
                                
                                <li>
                                    <p>
                                        <b class="underline">Term.</b> Unless terminated earlier pursuant to the provisions in Section 9 (Termination), this PRO Services Agreement shall
                                        commence on the date that VIEVU provides Customer with access to the VIEVU Solution (the &ldquo;<b>Effective Date</b>&rdquo;) and shall continue
                                        in force and effect for the number of months identified in the Order (the &quot;<b>Initial Term</b>&quot;). At the end of the Initial Term, this PRO
                                        Services Agreement shall automatically renew at the then current rates on a month-to- month basis under the same terms and
                                        conditions, unless a party, at least fifteen (15) days before the close of then-current term, notifies the other party in writing of its
                                        intent to terminate this PRO Services Agreement.
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <b class="underline">Estimate.</b> Any VIEVU Estimate provided to Customer relating to the sale, purchase, price, delivery, use and support of VIEVU
                                        Solution, and other related services, shall be subject to the terms and conditions of this PRO Services Agreement, which shall
                                        supersede any other offer and, in the event of any conflict with the provisions of any Estimate or other verbal or written offer, the
                                        provision contained in this PRO Services Agreement shall control and govern.
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <b class="underline">Order.</b> The terms of this PRO Services Agreement shall be incorporated into and be binding upon any estimate, quote, Order or
                                        delivery of Cameras and/or Solution PRO Software that is signed, issued or accepted by Customer. Any additional or different
                                        terms set forth by Customer are expressly rejected and shall be void and without effect. Each Order will specify the number of
                                        licenses, data storage limits, warranty period, customer support hours and associated fees.
                                    </p>
                                </li>
                            </ol>

                            <p>The Parties agree to the terms of this PRO Services Agreement, including the terms of this Order and Exhibit A attached hereto which
                                are incorporated herein and made a part hereof. This PRO Services Agreement shall only be binding when executed by VIEVU, LLC.</p>

                            <div class="half-column">
                                <p><b>VIEVU, LLC</b></p>

                                <dl class="form-horizontal">
                                    <dt>Authorized Signature:</dt>
                                    <dd>David Kingston</dd>

                                    <dt>Title:</dt>
                                    <dd>General Manager &amp; VP, VIEVU</dd>

                                    <dt>Date:</dt>
                                    <dd class="current-date"></dd>
                                </dl>
                            </div>

                            <div class="half-column">
                                <p><b>CUSTOMER</b></p>

                                <dl class="form-horizontal">
                                    <dt>Authorized Signature:</dt>
                                    <dd class="contact-name"></dd>

                                    <dt>Title:</dt>
                                    <dd class="contact-role"></dd>

                                    <dt>Date:</dt>
                                    <dd class="current-date"></dd>
                                </dl>
                            </div>

                            <br />

                            <hr />

                            <p class="align-middle"><b>Exhibit A<br />VIEVU Solution - Standard Terms and Conditions</b></p>

                            <ol>
                                <li>
                                    <b>RIGHTS TO THE VIEVU SOLUTION</b>

                                    <p>1.1. <span class="underline">License Grant.</span> During the Term and subject to the terms and conditions of the PRO Services Agreement, VIEVU hereby grants to Customer a limited, non-exclusive, non-transferable, non-sublicenseable right and license to: (a) access and use, solely in object code form, VIEVU's proprietary software (the &ldquo;Camera Software&rdquo;) solely to the extent installed on the Cameras; and (b) the right to display, access and use the Solution PRO Software solely for Customer’s internal operations and not for competitive purposes.  As between the Parties, all Intellectual Property rights, distribution rights and all other proprietary rights to the VIEVU Solution remain solely with VIEVU.</p>
                                    <p>1.2. <span class="underline">License Restrictions.</span> Customer will not and will not attempt to: (a) reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code or structure of the software used in the VIEVU Solution or in any Add-On Services; (b) provide, lease or lend the VIEVU Solution or any Add-On Services to any third party except as expressly authorized hereunder; (c) remove any proprietary notices or labels displayed on the VIEVU Solution, an Add-On Service or the Documentation; (d) create a derivative work of any part of the VIEVU Solution or any Add On Service; (e) use the VIEVU Solution or any Add-On Service for any unlawful purpose; or (f) create Internet &ldquo;links&rdquo; to or from the VIEVU Solution or any Add-On Service, or &ldquo;frame&rdquo; or &ldquo;mirror&rdquo; any of VIEVU’s content which forms part of any Add-On Service or the VIEVU Solution.  Customer may use the VIEVU Solution and the Add-On Services only for Customer’s legitimate business purposes and in compliance with applicable laws and regulations, including without limitation laws and regulations applying to privacy and personal information.  Customer is solely responsible for ensuring that only authorized personnel of Customer have access to the VIEVU Solution and the Add-On Services.</p>
                                    <p>1.3. <span class="underline">Use Restrictions.</span> Customer agrees that it will not and will not permit any Authorized User to use VIEVU Solution or any of the Add-On Services to: (a) intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, any regulations having the force of law; (b) upload, post, e-mail, otherwise transmit or post links to any content that the Customer does not have a right to transmit under any law or regulation or under contractual or fiduciary relationships (such as inside information, or proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements); (c) to upload, post, e-mail, otherwise transmit, or post links to any material that contains software viruses, worms, Trojan horses, time bombs, trap doors or any other computer code, files or programs or repetitive requests for information designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or to diminish the quality of, interfere with the performance of, or impair the functionality of the network of VIEVU; and/or (d) to infringe any patent, trademark, service mark, trade secret, copyright or other proprietary rights of any party, or contribute to inducing or facilitating such infringement.  VIEVU reserves the right to delete or remove any content that may violate a third party’s copyright upon receipt of notice of such violation by the third party holder of said right.  Customer is responsible for maintaining the confidentiality of any non-public authentication credentials associated and used to gain access to the VIEVU Solution and Customer agrees to promptly notify VIEVU about any possible misuse of any logon or any security incident related to the VIEVU Solution.</p>
                                    <p>1.4. <span class="underline">Third Party Programs.</span> The Add-On Services are Third Party Programs.  The third party owner, author or provider of such Third Party Programs retains all ownership and intellectual property rights in and to that content, and Customer's rights to use such Third Party Programs are subject to, and governed by, the terms applicable to such programs as specified by such third party owner, author or provider, unless otherwise specified on the Order.</p>
                                    <p>1.5. <span class="underline">Authorized User Accounts.</span> For the Add-On Services, Customer is entitled to the number of users set forth on the Order.  For all users , Customer is permitted to assign a user account only to its employees, agents, contractors and subcontractors and other authorized third parties (each an &ldquo;<b>Authorized User</b>&rdquo;).  Customer will be fully responsible for the acts of its Authorized Users.  If in any period it is determined that the number of users in a period exceeds the amount of Authorized User subscriptions purchased, VIEVU will notify Customer in writing and Customer will immediately pay to VIEVU any amounts that should have been paid.</p>
                                    <p>1.6. <span class="underline">Storage Access.</span> Data storage is subject to the usage limits specified on the Order.</p>
                                </li>

                                <li>
                                    <b>CONFIGURATION AND UPDATES</b>

                                    <p>2.1. <span class="underline">Camera Configuration.</span> Unless otherwise set forth on the Order, Customer is responsible for configuring the Cameras and implementing the VIEVU Solution in accordance with the instructions provided by VIEVU (the "<b>Deployment Setup Guide</b>").</p>
                                    <p>2.2. <span class="underline">Updates to Solution PRO Software.</span> VIEVU may make changes or updates to the Solution PRO Software (such as infrastructure, security, technical configurations, application features, etc.) during the Term, including to reflect changes in technology, industry practices, patterns of system use, and availability of Third Party Programs. The functionality of the Solution PRO Software is subject to change at VIEVU's discretion; however, such changes or updates will not result in a material reduction in the functionality of the Solution PRO Software.  All improvements, enhancements, modifications, and/or changes to the Solution PRO Software will be done automatically and remotely by VIEVU.</p>
                                    <p>2.3. <span class="underline">Software Updates.</span> To enable optimal access, VIEVU may verify the version of the various VIEVU Software and firmware used by Customer and recommend Customer download and install updates, with or without notice.  Failure to install updates, as applicable, may affect Customer's ability to use certain functions of the VIEVU Solution.</p>
                                </li>

                                <li>
                                    <b>SERVICE SPECIFICATIONS AND THIRD PARTY PROGRAMS</b>
                                    <p>3.1. <span class="underline">Service Specifications.</span> The VIEVU Solution is subject to and governed by the Service Specifications.  Customer acknowledges that use of the VIEVU Solution in a manner not consistent with the Service Specifications may adversely affect the performance of the VIEVU Solution, the availability of any applicable warranty, and/or may result in additional fees.</p>
                                </li>

                                <li>
                                    <b>PAYMENT</b>
                                    <p>4.1. <span class="underline">Fees.</span> The Solution Fees, any Add-On Fees shall be paid in accordance with the terms of the Order (collectively, the &ldquo;Fees&rdquo;).</p>
                                </li>

                                <li>
                                    <b>PAYMENT TERMS</b>
                                    <p>5.1. Customer agrees to pay to VIEVU all Fees and other amounts contained in the Order.  For subscription Services, Fees shall be paid in advance on a monthly basis.  For convenience, Customer authorizes VIEVU to retain payment information, including, but not limited to, Customer’s billing name, address, telephone number, credit card/debit card information or numbers, bank or financial institution information, applicable expiration dates, for making recurring monthly payments.  Customer may also authorize certain individuals to receive account information or make other account level decisions by completing the authorization attached hereto as Exhibit C, incorporated herein. Customer is responsible for adding, updating, maintaining, deleting, and verifying the accuracy of any payment information.  Customer agrees that VIEVU will not be responsible for any transactions rejected due to outdated or incorrect payment information provided by Customer.  Customer also agrees that VIEVU will not be liable for any use, misuse, lost, stolen or incorrect account or payment information.  If VIEVU is unable to charge Customer’s authorized credit card, debit card or obtain payments from authorized bank or financial institutions for any reason, VIEVU will notify Customer in writing and provide a 30-day grace period for Customer to correct any deficiencies.  At the end of the 30-day grace period, Services may be suspended or terminated, in VIEVU’s sole discretion.  Customer shall remain responsible for all payments owed to VIEVU.  No refunds or pro-rated amounts will be applied to partial months of Service. All amounts due under the PRO Services Agreement will be paid in US Dollars.  Payment obligations are non-cancelable and Fees are non-refundable, and all amounts payable will be made without setoff, deduction or withholding.  Customer is responsible for any applicable taxes, duties or other charges.</p>
                                </li>

                                <li>
                                    <b>SERVICE LEVELS, SUPPORT, UPDATES AND MAINTENANCE</b>

                                    <p>6.1. VIEVU will use commercially reasonable efforts to provide the VIEVU Solution, the Add-On Services and the support, updates and maintenance related thereto in accordance with industry standards.  Customer may contact VIEVU for technical support at <a class="underline" href="mailto:support@vievu.com">support@vievu.com</a>.  VIEVU will use commercially reasonable efforts to respond to Customer within a reasonable period of time based on severity as determined by VIEVU in its sole discretion.  Customer is entitled to technical support in English during business hours as set by VIEVU from time to time at no additional cost as defined by the terms of selected Add-On Services plan.  Additionally, during the Term, the Customer will be entitled to maintenance upgrades and bug fixes at no additional cost.</p>
                                </li>

                                <li>
                                    <b>SECURITY</b>

                                    <p>7.1. VIEVU will use commercially reasonable efforts to: (a) cause its agents and employees to be informed of and to agree to be bound by applicable data privacy laws, rules, regulations, codes, policies, or procedures; and (b) maintain industry standard safeguards reasonably designed to protect the confidentiality and integrity of, and to prevent unauthorized access to or use of Customer Data.  VIEVU agrees to notify Customer in the event of an actual breach of its security resulting in unauthorized access to or use of Customer Data as soon as practical, but in any event within forty eight (48) hours of discovery of the breach.</p>
                                    <p>7.2. Customer will provide any required notices to, and obtain and keep in effect all consents, authorizations, permits or licenses that may be required for the installation and operation of the Cameras, the Add-On Services, and the VIEVU Solution, including, without limitation any required consents regarding the processing and/or storage of Customer Data.</p>
                                </li>

                                <li>
                                    <b>CONFIDENTIALITY</b>

                                    <p>8.1. <span class="underline">Disclosure.</span> The Parties acknowledge that, in the course of performance of the Solution Agreement, one Party (the &ldquo;<b>Disclosing Party</b>&rdquo;) may find it necessary to disclose or permit access to Confidential Information to the other Party (the &ldquo;<b>Receiving Party</b>&rdquo;) and its personnel.  Disclosing Party's disclosure of or provision of access to, Confidential Information to Receiving Party’s personnel is solely for the purposes agreed under the Solution Agreement.</p>
                                    <p>8.2. <span class="underline">Confidential Treatment.</span> Confidential Information disclosed to a Receiving Party will be held in confidence by the Receiving Party and not disclosed to others or used except as expressly permitted under the PRO Services Agreement or as expressly authorized in writing by the Disclosing Party.  Each Party will use the same degree of care to protect the other Party’s Confidential Information as it uses to protect its own information of like nature, but in no circumstances less than reasonable care.</p>
                                    <p>8.3. <span class="underline">Allowances.</span> Notwithstanding anything to the contrary in this Section 8.3, Confidential Information may be disclosed by a Receiving Party: (a) to those of its employees, agents, and consultants who require it in connection with their duties in performing such Party’s obligations under the PRO Services Agreement and who are contractually or legally obligated to hold such Confidential Information in confidence and restrict its use consistent with the Receiving Party’s obligations under the PRO Services Agreement; (b) to the Receiving Party’s auditors, outside counsel, accountants and other similar business advisors, or in connection with an actual or prospective sale or transfer of assets; and (c) to the extent required by law, pursuant to a duly authorized subpoena, court order or government authority, provided that: (i) the Receiving Party provides the Disclosing Party with sufficient advance notice of such disclosure requirement or obligation to permit Disclosing Party to seek a protective order or other appropriate remedy protecting its Confidential Information from disclosure; and (ii) Receiving Party limits the release of the Confidential Information to the greatest extent possible under the circumstances.</p>
                                    <p>8.4. <span class="underline">Exceptions.</span> Obligations under Section 8 will not apply to information which: (a) was in the public domain or generally available to the public prior to receipt thereof by the Receiving Party from the Disclosing Party, or which subsequently becomes part of the public domain or generally available to the public before any wrongful act of the Receiving Party or an employee or agent of the Receiving Party; (b) is later received by the Receiving Party from a third party, unless the Receiving Party knows or has reason to know of an obligation of secrecy of the third party to the Disclosing Party with respect to such information; or (c) is developed by the Receiving Party independent of such information received from the Disclosing Party, as evidenced by the Receiving Party’s written records. The terms of confidentiality under the PRO Services Agreement will not be construed to limit VIEVU’s ability to use for any purpose the residuals resulting from access to or work with the Confidential Information.  The term &ldquo;residuals&rdquo; means information in a non-tangible form which may be retained by persons who have access to the Confidential Information, including ideas, concepts, know-how, or techniques contained therein.</p>
                                </li>

                                <li>
                                    <b>TERMINATION</b>

                                    <p>9.1. <span class="underline">Termination for Cause.</span> The PRO Services Agreement may be terminated for a breach of the PRO Services Agreement by either Party upon thirty (30) days’ prior written notice to the other Party if such breach is not cured within such thirty (30) day period.</p>
                                    <p>9.2. <span class="underline">Obligations on Termination.</span> Upon termination: (a) Customer agrees to pay VIEVU the Fees through the effective date of termination of the PRO Services Agreement (b) Customer shall cease all use of the VIEVU’s Confidential Information and shall promptly return all Confidential Information disclosed; (c) VIEVU will retain Customer Data in a limited functionality account for thirty (30) days after expiration or termination of the PRO Services Agreement and (d) Customer shall immediately uninstall the On Premise Software.  It is Customer's responsibility to remove any Customer Data within thirty (30) days.  After thirty (30) days, VIEVU will disable all login credentials and delete or otherwise render inaccessible all Customer Data.  Deleted Customer Data is not recoverable. </p>
                                </li>

                                <li>
                                    <b>OWNERSHIP</b>

                                    <p>10.1. <span class="underline">Ownership of VIEVU Solution.</span> The VIEVU Solution, the Add-On Services and all information which is provided to Customer by VIEVU under the PRO Services Agreement is confidential and considered Confidential Information, including, but not limited to, drawings, documentation, object code, source code, computer program listings, techniques, algorithms, processes, technical and marketing information products, specifications, formulae, equipment, business strategies, customer lists, know-how, drawings, pricing information, inventions, ideas, and their potential uses.  As between the parties, all right, title and interest in and to the VIEVU Solution, the Add-On Services and all modifications, enhancements and derivatives thereto and all intellectual property contained in any of the foregoing, shall be owned by VIEVU.  All use rights in and to the VIEVU Solution or the Add-On Services not expressly granted herein are reserved to VIEVU.</p>
                                    <p>10.2. <span class="underline">Ownership of Customer Data.</span> As between VIEVU and Customer, Customer owns and will continue to own all right, title and interest in and to the Customer Data.  Customer is responsible for uploading, sharing, withdrawing, managing and deleting Customer Data. Customer grants VIEVU the limited right to view, modify, collect and use Customer Data, solely for the purpose of providing the VIEVU Solution.  Notwithstanding the foregoing, VIEVU may use anonymized or general information derived from such Customer Data and aggregate it with information from other customers (&ldquo;<b>Non-Identifiable Aggregated Data</b>&rdquo;) for VIEVU’s business purposes, including without limitation for analyzing customer needs and improving its services, and VIEVU will own all right, title and interest in any such Non-Identifiable Aggregated Data.</p>
                                </li>

                                <li>
                                    <b>MICROSOFT AZURE REPRESENTATIONS</b>

                                    <p>11.1. For Government Agencies, The Microsoft Azure Government Cloud will be provided as part of the VIEVU Solution.  This is only available for the benefit of members of Federal Agencies, State/Local Entities, or Tribal Entities, in each case, acting in its governmental capacity (the &ldquo;Community&rdquo;).  As such, Customer certifies that it is a member of the Community and Customer agrees to use Azure Government Services component of the VIEVU Solution solely in Customer's capacity as a member of the Community and for the benefit of Authorized Users that are members of the Community as certified in Exhibit B attached hereto and incorporated herein.  Use of Azure Government Services by an entity that is not a member of the Community or to provide services to non-Community members is strictly prohibited and could result in termination of the Azure Government Services component of the VIEVU Solution, or the entire VIEVU Solution, in each case, without notice.  Customer agrees that it meets these respective eligibility requirements, and covenants that it will continue to meet the respective eligibility requirements throughout the Term.  VIEVU reserves the right to verify eligibility at any time and suspend the VIEVU Solution or any portion thereof if the eligibility requirements are not met.</p>
                                    <p>11.2. For Non-Government Agencies as described above, Microsoft Azure Cloud will be provided as part of the VIEVU Solution and is only available for the benefit of entities that are non-Community members.</p>
                                </li>

                                <li>
                                    <b>INDEMNIFICATION</b>

                                    <p>12.1. Customer agrees to indemnify, defend, and hold harmless VIEVU, its officers, agents, employees, affiliates, subsidiaries, assigns and successors in interest (&ldquo;VIEVU Indemnitee&rdquo;) harmless from and against claims, losses, damages, liabilities, fines, penalties, costs and expenses incurred by any VIEVU Indemnitee as a result of (a) Customer's improper or misuse of the VIEVU Solution or any Add-On Services (including without limitation, in violation of applicable laws, rules, regulations or the PRO Services Agreement); (b) Customer Data, content or other materials supplied by Customer, (c) any breach or alleged breach by Customer of the PRO Services Agreement;</p>
                                    <p>12.2. <span class="underline">Infringement.</span> VIEVU will have the obligation and right to defend any claim, suit, or proceeding brought against Customer so far as it is based on a claim that the VIEVU Solution infringes a United States copyright existing as of the Effective Date or a United States patent issued as of the Effective Date.  VIEVU’s obligation specified in this paragraph will be conditioned on Customer notifying VIEVU promptly in writing of the claim or threat thereof and giving VIEVU full and exclusive authority for, and information for and assistance with, the defense and settlement thereof.  If such claim has occurred, or in VIEVU’s opinion is likely to occur, Customer agrees to permit VIEVU, at its option and expense, either to: (a) procure for Customer the right to continue using the VIEVU Solution; (b) replace or modify the same so that it becomes non-infringing; or (c) if neither of the foregoing alternatives is reasonably available, immediately terminate VIEVU’s obligations (and Customer’s rights) under the Agreement with regard to such VIEVU Solution, and grant to Customer a credit for the unused portion of any license fees and refund any deposits paid by Customer for the VIEVU Solution.  VIEVU shall not be liable for any such infringement claim which arises out of: (a) any combination with the VIEVU Solution with any other non VIEVU software; or (b) any modification or customization of the VIEVU Solution by Customer or any third party; or (c) any corrective VIEVU software which is delivered to Customer but is not installed or implemented by Customer; or (d) use of the VIEVU Solution not in compliance with its Documentation.  In the event of an infringement claim based on or resulting from any of the foregoing, Customer shall indemnify defend and hold harmless VIEVU from and against all claims and actual losses, damages and expenses (including reasonable attorney’s fees) related to, resulting from, or arising out of any of the foregoing.</p>
                                    <p>12.3. <span class="underline">Limitation.</span> Notwithstanding any other provisions hereof, VIEVU will not be liable for any claim, based on Customer’s use of the VIEVU Solution or the Add-On Services other than as specified by VIEVU.  THE FOREGOING STATES THE ENTIRE OBLIGATION OF VIEVU, ITS LICENSORS AND ITS SUPPLIERS, AND THE EXCLUSIVE REMEDY OF CUSTOMER, WITH RESPECT TO INFRINGEMENT OF INTELLECTUAL PROPERTY OR PROPRIETARY RIGHTS.  THE FOREGOING IS GIVEN TO CUSTOMER SOLELY FOR ITS BENEFIT AND IN LIEU OF, AND VIEVU DISCLAIMS, ALL WARRANTIES OF TITLE AND NON-INFRINGEMENT WITH RESPECT TO THE VIEVU SOLUTION.</p>
                                </li>

                                <li>
                                    <b>WARRANTIES AND RETURN POLICIES</b>

                                    <p>13.1. Customer may return any Camera in accordance with VIEVU’s Camera Return Policy as set forth in <a href="http://www.vievu.com/support/warranty-repair" target="_blank">http://www.vievu.com/support/warranty-repair</a> within fifteen (15) calendar days of the original date of delivery.  All returns must be packed in the original, unmarked packaging including any accessories, manuals, and documentation that shipped with the product. All Cameras that are returned unopened are subject to a restocking fee of 10 percent of the purchase price. All opened but undamaged Cameras are subject to a restocking fee of 25 percent of the purchase price.  Damaged Cameras are ineligible for return under this Section 13.1.  All return shipping costs are the responsibility of Customer and will not be refunded.  No returned Camera will be accepted without the original manufacturer's packaging and a Return Material Authorization (RMA).</p>
                                    <p>13.2. <span class="underline">Extended Warranty Terms.</span> If Customer is purchasing extended warranty, refer to <a href="http://www.vievu.cvom/support/warranty" target="_blank">http://www.vievu.cvom/support/warranty</a> for full terms & conditions of the Express, Limited Warranty.  VIEVU warrants to Customer that, provided that the Camera has been stored and used in accordance with the Hardware Specifications and ordinary industry practices and conditions, each Camera shall be free from defects in materials and workmanship and shall conform in all material respect to the Hardware Specifications for a period from the date of delivery as set forth in the Order (the "Warranty Period").  The Warranty does not cover: (a) intentional damage; (b) use that is not consistent with its intended operation or the Hardware Specifications; (c) any damage caused by an attempt to open or alter the Camera or (d) the use of non-VIEVU branded or approved accessories or replacement parts.  The &ldquo;Enhanced Warranty&rdquo; extends the Warranty coverage described in the Express, Limited Warranty, as well as spare cameras and parts from accidental and/or unintended damage.  If a valid warranty claim is received by VIEVU within this &ldquo;Enhanced Warranty&rdquo; period as set forth in the Order, VIEVU agrees to repair or replace the product that VIEVU determines in its sole discretion to be defective under normal use, as defined in the product instructions. VIEVU’s sole responsibility under this &ldquo;Enhanced Warranty&rdquo; is to either repair or replace with the same or like Product, at VIEVU’s sole option. VIEVU DOES NOT WARRANT THAT THE OPERATION OF THE CAMERAS WILL BE UNINTERRUPTED OR ERROR FREE.</p>
                                    <p>13.3. <span class="underline">Camera Replacement Under Warranty.</span> In the event that a Camera does not comply with the warranty set forth above, Customer should return such non-conforming Camera to VIEVU in accordance with the instructions located at <a href="http://www.vievu.com/support/warranty-repair/" target="_blank">http://www.vievu.com/support/warranty-repair/</a> within the Initial Warranty Period or the Extended Warranty Period (if applicable).  Upon receipt of the returned Camera during the Initial Warranty Period or the Extended Warranty Period (if applicable), VIEVU will repair or replace such non-conforming Camera at no additional charge to Customer.  Customer agrees that repair or replacement is the sole remedy available for any Camera malfunction or failure and agrees to indemnify, defend, and hold VIEVU harmless in the event any claim is made for remedy, including monetary damages other than as specifically allowed in this paragraph.</p>
                                    <p>13.4. <span class="underline">Disclaimer of Warranty.</span> EXCEPT AS EXPRESSLY SET FORTH IN THIS SECTION 13, VIEVU DOES NOT GUARANTEE THAT (A) THE VIEVU SOLUTION OR ANY ADD-ON SERVICES WILL BE PERFORMED ERROR-FREE OR UNINTERRUPTED, OR THAT VIEVU WILL CORRECT ALL SERVICES ERRORS, (B) THE SERVICES WILL OPERATE IN COMBINATION WITH CUSTOMER CONTENT OR APPLICATIONS, OR WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEMS, SERVICES OR DATA NOT PROVIDED BY VIEVU, AND (C) THE VIEVU SOLUTION OR ANY ADD-ON SERVICE WILL MEET CUSTOMER REQUIREMENTS, SPECIFICATIONS OR EXPECTATIONS. CUSTOMER ACKNOWLEDGES THAT VIEVU DOES NOT CONTROL THE TRANSFER OF DATA OVER COMMUNICATIONS FACILITIES, INCLUDING THE INTERNET, AND THAT THE VIEVU SOLUTION AND ADD-ON SERVICES MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF SUCH COMMUNICATIONS FACILITIES. VIEVU IS NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGE RESULTING FROM SUCH PROBLEMS. VIEVU IS NOT RESPONSIBLE FOR ANY ISSUES RELATED TO THE PERFORMANCE, OPERATION OR SECURITY OF THE VIEVU SOLUTION OR THE ADD-ON SERVICES THAT ARISE FROM CUSTOMER DATA, APPLICATIONS PROVIDED BY CUSTOMER OR ANY THIRD PARTY CONTENT.  THE FOREGOING EXPRESS WARRANTIES ARE LIMITED TO VIEVU AND ARE NOT TRANSFERABLE AND ARE IN LIEU OF ANY OTHER WARRANTY BY VIEVU WITH RESPECT TO THE VIEVU SOLUTION OR THE ADD-ON SERVICES. VIEVU GRANTS NO OTHER WARRANTY, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
                                </li>

                                <li>
                                    <b>DISCLAIMERS AND LIMITATIONS OF LIABILITY</b>

                                    <p>14.1. <span class="underline">Maintenance of Content.</span> The Customer, not VIEVU is responsible for maintaining all evidence and videos taken with Cameras.  Customer should routinely back up Customer Data and download all Customer Data from the Cameras before returning any Camera to VIEVU for repair or replacement.  Customer agrees to indemnify and hold VIEVU harmless for any evidence or videos that cannot be recovered from Cameras.</p>
                                    <p>14.2. <span class="underline">Disclaimer of Consequential Damages.</span> NEITHER PARTY WILL HAVE LIABILITY WITH RESPECT TO ITS OBLIGATIONS UNDER THE AGREEMENT OR OTHERWISE, FOR CONSEQUENTIAL, EXEMPLARY, SPECIAL, INCIDENTAL, PUNITIVE DAMAGES, LOSS OF PROFITS, LOSS OF DATA, THE COST OF COVER, SECURITY AND DATA BREACHES, AND FAILURE TO ACCESS THE VIEVU SOLUTION OR ANY ADD-ON SERVICES, EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
                                    <p>14.3. <span class="underline">Limitation of Liability.</span> VIEVU’S AGGREGATE LIABILITY UNDER THE PRO SERVICES AGREEMENT SHALL BE LIMITED TO THE AMOUNT ACTUALLY PAID BY CUSTOMER FOR THE VIEVU SOLUTION DURING THE 12 MONTHS PRECEDING THE CLAIM.</p>
                                    <p>14.4. <span class="underline">Other Limitations.</span> The obligations of VIEVU under the Agreement run only to Customer and not to its affiliates, its customers, or any other persons.  Under no circumstances will any other person be considered a third-party beneficiary of the Agreement or otherwise entitled to any rights or remedies under the Agreement.  Customer will have no rights or remedies against VIEVU except as specifically provided in the Agreement.  No action or claim of any type relating to the Agreement may be brought or made by Customer more than one (1) year after Customer first has knowledge of the basis for the action or claim.</p>
                                </li>

                                <li>
                                    <b>GENERAL TERMS</b>

                                    <p>15.1. <span class="underline">Representation and Warranty.</span> Customer represents and warrants that: (A) it has the power and authority to execute, deliver and fully perform the PRO Services Agreement, and (B) the signatory has the legal authority to bind Customer.</p>
                                    <p>15.2. <span class="underline">Other Agreements.</span> All references to the Agreement includes all documents referenced by hyperlink herein, such documents and agreements being expressly incorporated herein by reference and including certain legal terms.  The Agreement contains the entire agreement between the parties.  All understandings have been included in the Agreement.  Representations which may have been made by any party to the Agreement may in some way be inconsistent with this final written Agreement.  All such statements are declared to be of no value in the Agreement.  Only the written terms of the Agreement will bind the parties.  Use of the VIEVU Solution is subject to the VIEVU Privacy Policy located at <a href="http://www.vievu.com/about-us/privacy-policy/" target="_blank">http://www.vievu.com/about-us/privacy-policy/</a> and all other terms referenced by hyperlink in this Exhibit A, each of which are hereby incorporated by reference and made a part hereof.</p>
                                    <p>15.3. <span class="underline">Miscellaneous.</span> The Agreement can only be modified in writing signed by both VIEVU and Customer.  The Agreement does not create or imply any relationship in agency or partnership between VIEVU and Customer.  Headings are inserted for the convenience of the Parties only and are not to be considered when interpreting the Agreement.  Words in the singular mean and include the plural and vice versa.  Words in the masculine gender include the feminine gender and vice versa.  Words in the neuter gender include the masculine gender and the feminine gender and vice versa.  If any term, covenant, condition or provision of the Agreement is held by a court of competent jurisdiction to be invalid, void or unenforceable, it is the parties' intent that such provision be reduced in scope by the court only to the extent deemed necessary by that court to render the provision reasonable and enforceable and the remainder of the provisions of the Agreement will in no way be affected, impaired or invalidated as a result.</p>
                                    <p>15.4. <span class="underline">Assignment.</span> The Agreement shall be binding upon and inure to the benefit of the Parties hereto and their respective permitted successors and assigns.  VIEVU may assign or otherwise transfer its interest or any part thereof under the Agreement to another party without the consent of Customer except that such party must expressly assume responsibility for all obligations hereunder in writing.  Customer may assign or otherwise transfer its interest or any part thereof under the Agreement to any person or entity only upon the written consent of VIEVU.</p>
                                    <p>15.5. <span class="underline">Compliance with Legal Requirements.</span> Each Party shall be responsible, at its expense, for complying with all applicable laws and regulations of each jurisdiction where the VIEVU Solution are used, including laws and regulations pertaining to access or use of the VIEVU Solution.</p>
                                    <p>15.6. <span class="underline">Force Majeure.</span> &ldquo;<b>Force Majeure Event</b>&rdquo; means any act or event that: (a) prevents a party (the &ldquo;<b>Nonperforming Party</b>&rdquo;) from performing its obligations or satisfying a condition to the other party’s (the &ldquo;<b>Performing Party</b>&rdquo;) obligations under the Agreement; (b) is beyond the reasonable control of and not the fault of the Nonperforming Party; and (c) the Nonperforming Party has not, through commercially reasonable efforts, been able to avoid or overcome.  A Force Majeure Event does not include economic hardship, changes in market conditions, and insufficiency of funds.  If a Force Majeure Event occurs, the Nonperforming Party is excused from the performance thereby prevented and from satisfying any conditions precedent to the other party’s performance that cannot be satisfied, in each case to the extent limited or prevented by the Force Majeure Event.  When the Nonperforming Party is able to resume its performance or satisfy the conditions precedent to the other party’s obligations, the Nonperforming Party will immediately resume performance under the Agreement.  The relief offered by this paragraph is the exclusive remedy available to the Performing Party with respect to a Force Majeure Event.</p>
                                    <p>15.7. <span class="underline">Audit</span> VIEVU, or its designee, will have the right to perform audits regarding Customer's use of the VIEVU Solution and the Add-On Services, at reasonable intervals, upon reasonable notice during the Term and a period of one (1) year after termination of the Agreement.  Customer agrees to make all relevant information available to VIEVU, and as appropriate, to VIEVU's designee.</p>
                                    <p>15.8. <span class="underline">Applicable Law.</span> The Agreement is to be interpreted, construed and governed according to the laws of the State of Washington.  Any claim or controversy arising out of or related to the Agreement or any breach thereof shall be submitted to a court of applicable jurisdiction in the State of Washington, King County, and each Party hereby consents to the jurisdiction and venue of such court.</p>
                                    <p>15.9. <span class="underline">Waiver of Jury Trial.</span> EACH PARTY IRREVOCABLY AND UNCONDITIONALLY WAIVES, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, ANY RIGHT IT MAY HAVE TO A TRIAL BY JURY IN ANY LEGAL ACTION, PROCEEDING, CAUSE OF ACTION OR COUNTERCLAIM ARISING OUT OF OR RELATING TO THE AGREEMENT, INCLUDING ANY EXHIBITS, SCHEDULES, AND APPENDICES ATTACHED TO THE AGREEMENT, OR THE TRANSACTIONS CONTEMPLATED HEREBY.</p>
                                    <p>15.10. <span class="underline">Attorneys’ Fees.</span> If VIEVU prevails in any suit or proceeding relating to the Agreement, VIEVU will have the right to recover from Customer its costs and reasonable fees and expenses of attorneys, accountants, and other professionals incurred in connection with the suit or proceeding, including costs, fees and expenses upon appeal, separately from and in addition to any other amount included in such judgment.</p>
                                    <p>15.11. <span class="underline">Severability</span> Except as provided below, each provision of the Agreement will be interpreted in such a manner and to such an extent as to be effective and valid under applicable law.  If any provision is prohibited by or invalid under applicable law, that provision will be ineffective only to the extent of such prohibition or invalidity.</p>
                                    <p>15.12. <span class="underline">Survival.</span> The terms, provisions, representations, and warranties contained in the Agreement whereby their sense and context are intended to survive the performance and termination of the Agreement, shall so survive the completion of performance and termination of the Agreement, including, but not limited to, the making of any and all payments due hereunder and Sections 1,  4, 5, 7, 8, 9, 12 13, 14, and 15 and any other right or obligation which by its nature is reasonably intended to survive such termination or expiration</p>
                                    <p>15.13. <span class="underline">Notices.</span> All notices required to be given in writing under the Agreement shall be in writing and shall be given or made by delivery in person, by courier service, by confirmed facsimile, or by registered or certified mail (postage prepaid, return receipt requested) at the following address:<br /><b>VIEVU, LLC<br />645 Elliott Ave W Suite #370<br />Seattle, WA 98119<br />Attn:  Legal Department</b></p>
                                </li>

                                <li>
                                    <b>DEFINITIONS</b>

                                    <p>16.1. <span class="underline">&ldquo;Authorized User Account&rdquo;</span> means the arrangement under the Agreement authorizing online access of an Authorized User to the VIEVU Solution, whether actually used or not.</p>
                                    <p>16.2. &ldquo;Cloud Storage&rdquo; means the storage of Customer Data, in connection with the VIEVU Solution, maintained in a cloud in datacenters selected by VIEVU.  These data centers are accessed by the Customer via an internet connection.</p>
                                    <p>16.3. <span class="underline">&ldquo;Confidential Information&rdquo;</span> means information and technical data derived from or disclosed to a Receiving Party or Affiliates of the Receiving Party by the Disclosing Party or its employees, vendors, customers, representatives, Affiliates, agents and other independent contractors during the performance of obligations under the Agreement and which is not generally known to the public, including the Disclosing Party’s customers or competitors or any customers or competitors of any Affiliate of the Disclosing Party.  Examples of Confidential Information include, but are not limited to Customer Data, and information or data disclosed in oral, written, graphic or machine-readable form, or in forms otherwise embodying or displaying such information, or which is visible or audible to Receiving Party by virtue of the Receiving Party visiting or performing its obligations at a facility controlled by the Disclosing Party or an Affiliate of the Disclosing Party, subsidiaries, agents or subcontractors, or by having access to the Disclosing Party’s systems including, but not limited to, business plans, specifications, designs, methods, processes, ideas, concepts, drawings, software, pricing, operational plans and know-how, employee information, shareholder information, vendor information, customer information, and consumer information.</p>
                                    <p>16.4. <span class="underline">&ldquo;Customer Data&rdquo;</span> means all data provided to or created by Customer, including without limitation all video and images captured by a Camera and uploaded onto the VIEVU Solution.</p>
                                    <p>16.5. <span class="underline">&ldquo;Documentation&rdquo;</span> means all operating manuals and user manuals, training and marketing materials, guides, product descriptions, product specifications, technical manuals, supporting materials, and other information relating to the VIEVU Solution and provided by VIEVU to Customer.</p>
                                    <p>16.6. <span class="underline">&ldquo;Federal Agency&rdquo;</span> means a bureau, office, agency, department or other entity of the United States Government.</p>
                                    <p>16.7. <span class="underline">&ldquo;Geo-Redundant Storage&rdquo;</span> means multiple copies of data storage of duplicate copies of Customer Data at more than one datacenter, which such datacenters are no less than 500 miles apart geographically.</p>
                                    <p>16.8. <span class="underline">"Hardware Specifications"</span> means: (a) the product manuals (including the Quick Start Guide and Detailed Service Specifications for Camera Support located at <a href="http://www.vievu.com/support/camera-support/" target="_blank">http://www.vievu.com/support/camera-support/</a> or such other address specified by VIEVU from time to time.</p>
                                    <p>16.9. <span class="underline">"Intellectual Property"</span> includes, but is not limited to, any trademarks, service marks, trade names, distinctive words, logos, drawings, art work, pictures, colors, designs, design and/or utility models or copyrights, or any marks or works similar thereto, and any modifications, derivations, improvements or adaptations thereof.  Intellectual Property also includes, but is not limited to, the look and feel of the VIEVU Solution, the Camera and any portions thereof.</p>
                                    <p>16.10. <span class="underline">&ldquo;Locally-Redundant Storage&rdquo;</span> means storage of duplicate copies of Customer Data within one datacenter.</p>
                                    <p>16.11. <span class="underline">&ldquo;Training and Implementation Services&rdquo;</span> means in connection with the VIEVU Solution, VIEVU may provide certain training and/or implementation services to Customer.  Any such services performed by VIEVU will be pursuant to a separate agreement entered into between the parties.</p>
                                    <p>16.12. <span class="underline">&ldquo;State/Local Entity&rdquo;</span> means (a) any agency of a state or local government in the United States, or (b) any United States county, borough, commonwealth, city, municipality, town, township, special purpose district, or other similar type of governmental instrumentality established by the laws of a Customer’s state and located within the Customer’s state’s jurisdiction and geographic boundaries.</p>
                                    <p>16.13. <span class="underline">&ldquo;Tribal Entity&rdquo;</span> means a federally recognized tribal entity eligible for funding and services from the U.S. Department of Interior by virtue of its status as an Indian tribe.</p>
                                    <p>16.14. <span class="underline">&ldquo;Service Specifications&rdquo;</span> means collectively, (a) the system requirements; (b) the applicable portions of the VIEVU Solution User Guide; (c) the Deployment Setup Guide; and (d) any other specifications posted by VIEVU from time to time on <a href="http://www.vievu.com/support/vievu-solution-support/" target="_blank">http://www.vievu.com/support/vievu-solution-support/</a>. The Service Specifications are subject to change at VIEVU's discretion; however, VIEVU changes to the Service Specifications will not result in a material reduction in the level of performance, security or availability of the applicable portion of the VIEVU Solution during the Term</p>
                                    <p>16.15. <span class="underline">&ldquo;Third Party Programs&rdquo;</span> means all text, files, images, graphics, illustrations, information, data, audio, video, photographs, and other content and material, in any format, or services that are obtained or derived from third party sources outside of VIEVU and made available to Customer through, within, or in conjunction with Customer's use of the VIEVU Solution. Examples of Third Party Content include data feeds from social network services, rss feeds from blog posts, data libraries and dictionaries, third party add on applications and marketing data.</p>
                                    <p>16.16. &ldquo;Unlimited Storage&rdquo; means unlimited video storage from video generated by VIEVU cameras while included in this agreement.  Files which have not been accessed within a 30- day period may be placed in archival storage that may require up to 24 hours to retrieve.  Customer must implement a retention policy and may not retain all footage indefinitely, but the specifics of the retention policy are at the customer's discretion.</p>
                                    <p>16.17. <span class="underline">&ldquo;VIEVU Solution&rdquo;</span> means, collectively, Solution PRO Software, Cloud Storage selected by Customer.</p>
                                </li>
                            </ol>

                            <hr />

                            <p class="align-middle">Exhibit B<br />VIEVU Solution PRO Certification of Eligibility for Microsoft Azure Government Cloud</p>

                            <p>
                                <b>Are you a US Government Entity?</b><br />
                                <span class="agency-entity"></span>
                            </p>

                            <p>Microsoft Azure Government eligibility requirements and definitions are listed in Attachment 1.</p>

                            <p>
                                <b>Signature of Authorized Representative</b>
                            </p>

                            <dl class="form-horizontal">
                                <dt>Signature</dt>
                                <dd class="contact-name"></dd>

                                <dt>Printed Name</dt>
                                <dd class="contact-name"></dd>

                                <dt>Email Address</dt>
                                <dd class="contact-email"></dd>

                                <dt>Title</dt>
                                <dd class="contact-role"></dd>

                                <dt>Date</dt>
                                <dd class="current-date"></dd>

                                <dt>Phone Number</dt>
                                <dd class="contact-phone"></dd>
                            </dl>

                            <hr />

                            <p><b>Attachment 1</b></p>

                            <p>Microsoft Azure Government Eligibility</p>
                            <p>&ldquo;Azure Government Services&rdquo; means one or more of the services of features identified at
                                <span class="underline">http://azure.microsoft.com/en-us/regions/#services</span> which are provisioned in dedicated multi-tenant data
                                centers for exclusive use by or for the Community.</p>

                            <p>&ldquo;Community&rdquo; means the community consisting of one or more of the following: (1) a Government, (2) a
                                customer using Azure government Services to provide solutions to a Government or a qualified
                                member of the Community, or (3) a Customer with Customer Data that is subject to Government
                                regulations for which the customer determines and Microsoft agrees that the use of azure government
                                services, and not Microsoft Azure Services, is the appropriate Microsoft service to meet the Enrolled
                                Affiliate’s regulatory requirements.</p>

                            <p>&ldquo;Federal Agency&rdquo; means a bureau, office, agency, department or other entity of the United States Government.</p>
                            <p>&ldquo;Government&rdquo; means a Federal Agency, State/Local Entity, or Tribal Entity acting in its governmental capacity.</p>
                            <p>&ldquo;State/Local Entity&rdquo; means (1) any agency of a state or local government in the United States, or (2)
                                any United States county, borough, commonwealth, city, municipality, town, township, special purpose
                                district, or other similar type of governmental instrumentality established by the laws of a Customer’s
                                state and located within the Customer’s state jurisdiction and geographic boundaries.</p>

                            <p>&ldquo;Tribal Entity&rdquo; means a federally recognized tribal entity eligible for funding and services from the U.S. Department of Interior by virtue of its status as an Indian tribe.</p>
                            <p>Azure Government Services are only available for the benefit of members of the Community. You
                                certify that it is a member of the Community and agrees to use Azure Government services solely in
                                its capacities as members of the Community and for the benefit of end users that are members of the
                                Community. Use of Azure government Services by an entity that is not a member of the Community or
                                to provide services to non-Community members is strictly prohibited and could result in termination of
                                the azure Government Services without notice. You acknowledge that only Community members may
                                use Azure Government Services.</p>

                            <p>Notwithstanding anything to the contrary in the Use Rights, for azure Government Services:</p>
                            <ul>
                                <li>Customer Data will be stored and processed solely within the continental United States.</li>
                                <li>Azure Government Services will be offered only within the United States.</li>
                            </ul>

                            <hr />

                            <p class="align-middle">Exhibit C<br />VIEVU Solution PRO List of Personnel Authorized to Discuss Account</p>

                            <p><b>Persons Authorized to Discuss Account (optional)</b></p>

                            <p>Complete this section if you would like to allow up to three persons, other than yourself, to be authorized to
                                receive account information or make account level decisions. This includes but is not limited to receiving
                                account credential information, resetting account credential information, updating billing information,
                                discussing billing related matters and receiving notifications.</p>

                            <dl class="form-horizontal">
                                <dt>Printed Name:</dt>
                                <dd class="contact-name"></dd>

                                <dt>Title:</dt>
                                <dd class="contact-role"></dd>

                                <dt>Email Address:</dt>
                                <dd class="contact-email"></dd>

                                <dt>Phone Number:</dt>
                                <dd class="contact-phone"></dd>
                            </dl>

                            <hr />

                            <div class="agreement-actions actions">
                                <a href="#" class="button button-agree">Agree</a>
                            </div>
                        </div>

                        <div class="accept-agreement">
                            <div><b>Digital Signature of Agreement</b></div>
                            <p>
                                <label for="accept-initial">
                                    <input type="text" name="accept-initial" id="accept-initial" placeholder="TYPE YOUR NAME HERE" disabled /> <b class="bold">Type your name to accept
                                    you are digitally signing and accepting the terms of the VIEVU Solution PRO Agreement.</b>
                                </label>
                            </p>
                        </div>

                        <hr />

                        <p>Upon completing checkout, the VIEVU Solution PRO Agreement will be sent with your confirmation email.</p>

                        <div class="actions">
                            <a href="#" class="button button-prev">Back</a>
                            <a href="#" class="button button-next disabled">Proceed</a>
                        </div>
                    </div> <!-- STEP FOUR ENDS -->

                    <div class="step step-five" style="display: none;">
                        <div class="registration-complete">
                            <h2>Thank you for your VIEVU Solution PRO account setup information.</h2>
                            <p>To complete your subscription purchase you are now required to create a vievu.com account or log in with your existing vievu.com account. This will take you to the checkout to process your purchase.</p>

                            <div class="actions">
                                <a href="#" class="button button-checkout">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- outline -->
                <div class="registration-terms"><a href="/faq" target="_blank">Eligibility FAQ</a></div>
                <div class="have-account">Already have an account. <a href="/login.php">Login</a></div>
            </div>
        </div>
    </div>
</div> <!-- modal ends -->