<h2 class="no-margin-top"><strong>Reports:</strong></h2>

<div id="reportsWrapper">
	<div class="col-3 text-center">
		<div class="col-bg">
			<h3 class="no-margin-top"><strong>Credit Card Expiry Report:</strong></h3>

			<div class="fieldGroupWrapper">
				<div class="field-group">
					<label>Start Date</label>
		            {{date-picker id="creditCardExpiryStartDate" placeholder="Select a date"}}
		            &nbsp;<i class="fa fa-calendar fa-lg datePickerIcon" aria-hidden="true"></i>
		        </div>

		        <div class="field-group">	
		        	<label>End Date &nbsp;</label>
		            {{date-picker id="creditCardExpiryEndDate" placeholder="Select a date"}}
		            &nbsp;<i class="fa fa-calendar fa-lg datePickerIcon" aria-hidden="true"></i>
		        </div>
	        </div>

	        <button class="btn btn-primary" {{action 'createReport' 'creditCardExpiryReport'}}>Create</button>

		</div>
	</div>

	<div class="col-3 text-center">
		<div class="col-bg">
			<h3 class="no-margin-top"><strong>Customer Billing Date:</strong></h3>
			
			<div class="fieldGroupWrapper">
				<div class="field-group">
					<label>Start Date</label>
		            {{date-picker id="billingStartDate" placeholder="Select a date"}}
		            &nbsp;<i class="fa fa-calendar fa-lg datePickerIcon" aria-hidden="true"></i>
		        </div>

		        <div class="field-group">	
		        	<label>End Date &nbsp;</label>
		            {{date-picker id="billingEndDate" placeholder="Select a date"}}
		            &nbsp;<i class="fa fa-calendar fa-lg datePickerIcon" aria-hidden="true"></i>
		        </div>
	        </div>

	        <button class="btn btn-primary" {{action 'createReport' 'billingReport'}}>Create</button>

		</div>
	</div>

	<div class="col-3 text-center">
		<div class="col-bg">
			<h3 class="no-margin-top"><strong>Customer Account Summary:</strong></h3>

			<div class="fieldGroupWrapper">
				<div class="field-group">
					<label>Start Date</label>
		            {{date-picker id="accountStartDate" placeholder="Select a date"}}
		            &nbsp;<i class="fa fa-calendar fa-lg datePickerIcon" aria-hidden="true"></i>
		        </div>

		        <div class="field-group">	
		        	<label>End Date &nbsp;</label>
		            {{date-picker id="accountEndDate" placeholder="Select a date"}}
		            &nbsp;<i class="fa fa-calendar fa-lg datePickerIcon" aria-hidden="true"></i>
		        </div>
	        </div>

	        <button class="btn btn-primary" {{action 'createReport' 'accountReport'}}>Create</button>

		</div>
	</div>

	<div class="clearfix"> &nbsp; </div>
</div>
