.custom-popup-form {
    margin: 0 auto;
    width: 100%;
    display: inline-block
}

.custom-popup-form .wrapper {
    padding: 0 20px
}

.custom-popup-form .wrapper p {
    margin-top: 0
}

.custom-popup-form .wrapper .bold {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/** Steps Navigation */
.custom-popup-form .steps-nav {
    font-size: 1rem;
    margin-bottom: 1em;
    text-align: center;
    margin-left: 0.5em;
}

.custom-popup-form .steps-nav:after {
    content: ' ';
    display: block;
    float: none;
    clear: both;
    width: 100%;
    height: 0;
}

.custom-popup-form .steps-nav > .bold {
    color: #000;
    display: inline-block;
    float: left;
    width: 10%;
    max-width: 100px;
}

.custom-popup-form .steps-nav-items {
    display: inline-block;
    font-family: Arial, sans-serif;
    list-style: none;
    width: 90%;
    padding: 0;
    margin: 0;
    float: left;
}

.custom-popup-form .steps-nav-items .steps-nav-item {
    display: inline-block;
    margin: 0 0.8em;
    transition: all 0.5s ease-in-out;
    float: left;
}

.custom-popup-form .steps-nav-items .steps-nav-item.step-active {
    color: #000;
    display: inline-block;
    font-weight: bold;
}
/** END Steps Navigation */

.custom-popup-form .wrapper .logo {
    text-align: left;
    font-size: 2rem;
    color: #444;
    margin-bottom: 10px;
    margin-left: 0.65em;
}

.custom-popup-form .wrapper .logo+p {
    margin-left: 1.5em;
}

.custom-popup-form .wrapper .registration-terms {
    float: left;
    color: #222
}

.custom-popup-form .wrapper .registration-terms a {
    text-decoration: underline;
    color: #0d68ad
}

.custom-popup-form .wrapper .registration-terms a:hover {
    text-decoration: none;
    color: #064b81
}

.custom-popup-form .wrapper .have-account {
    float: right;
    color: #222
}

.custom-popup-form .wrapper .have-account a {
    color: #0d68ad;
    text-decoration: underline
}

.custom-popup-form .wrapper .have-account a:hover {
    text-decoration: none;
    color: #064b81
}

.custom-popup-form .wrapper .actions {
    text-align: center;
    margin: 0;
    display: inline-block;
    width: 100%
}

.custom-popup-form .wrapper .step-one .actions {
    text-align: right;
}

.custom-popup-form .wrapper .actions a {
    border: 1px solid #333;
    height: 45px;
    padding: 0 2.5rem;
    line-height: 42px;
    text-transform: uppercase;
    font-size: .9rem;
    background: #333;
    color: #FFF;
    font-weight: 600;
    max-width: 100%;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
}

.custom-popup-form .wrapper .actions a.button.disabled, .custom-popup-form .wrapper .actions a.button.disabled:hover {
    background: #EEE;
    border-color: #EEE;
    color: #AAA;
    cursor: default;
}

.custom-popup-form .outline .half-column h2,.custom-popup-form .outline .step-four h2 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0
}

.custom-popup-form .wrapper .actions a:hover {
    background: #FFF;
    border-color: #444;
    color: #444;
}

.custom-popup-form .wrapper .actions .button.no,.custom-popup-form .wrapper .actions .no.form-file-wrapper:before {
    background: #fff;
    border: 1px solid #999;
    color: #444;
    margin: 0 5px
}

.custom-popup-form .wrapper .actions .button.no:hover,.custom-popup-form .wrapper .actions .no.form-file-wrapper:hover:before {
    background: #333;
    color: #fff;
    border: 1px solid #333
}

.custom-popup-form .wrapper hr {
    background: #999;
    height: 1px;
    margin: 15px 0;
    display: inline-block;
    width: 100%
}

.custom-popup-form .wrapper hr.blank {
    opacity: 0
}

.custom-popup-form .outline {
    border: 1px solid #999;
    padding: 30px;
    margin-bottom: 5px;
    display: inline-block
}

.custom-popup-form .outline ul {
    margin: 0;
    padding: 0
}

.custom-popup-form .outline ul li {
    list-style: none;
    margin-bottom: 3px
}

.custom-popup-form .outline ul li input[type=checkbox] {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 5px
}

.custom-popup-form .outline .comply {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%
}

.custom-popup-form .outline .comply li {
    list-style: none;
    display: inline-block;
    width: auto;
    float: left;
    margin-bottom: 5px;
    margin-right: 20px
}

.custom-popup-form .select-style .selector {
    border: 1px solid #999;
}

.custom-popup-form .select-style .selector, .custom-popup-form .select-style .selector > span {
    line-height: 35px;
    height:36px;
    min-height: 36px !important;
}

.custom-popup-form .outline .half-column {
    float: left;
    width: 50%
}

.custom-popup-form .outline .half-column ul li {
    float: left;
    width: 100%;
    margin: 0 0 8px
}

.custom-popup-form .outline .half-column ul li label {
    float: left;
    line-height: 1.85em;
    margin-right: 5px;
    min-width: 150px;
    padding: 5px 0
}

.custom-popup-form .outline .half-column ul li label:before {
    display: inline-block;
    content: ' ';
    width: 1em;
}

.custom-popup-form .outline .half-column ul li[data-required] label:before {
    color: #D14343;
    content: '*';
}

.custom-popup-form .outline .half-column ul li input {
    border: 1px solid #999;
    padding: 6px;
    width: 187px;
    height: 35px
}

.custom-popup-form .outline .half-column ul li input.input-error {
    border-color: #D14343;
}

.custom-popup-form .outline .half-column ul li input:focus {
    border: 1px solid #000
}

.custom-popup-form .outline .half-column ul li .select-style {
    background: url(../img/select-arrows.png) 95% 65% no-repeat #fff;
    border: 0 none;
    overflow: hidden;
    width: 187px;
    margin: 0;
    height: 37px;
    line-height: 35px;
}

.custom-popup-form .outline .half-column ul li .select-style select {
    background: 0 0;
    border: none;
    box-shadow: none;
    outline: 0;
    padding: 7px 8px 5px;
    width: 112%
}

.custom-popup-form .step-four b {
    font-weight: bold;
}

.custom-popup-form .step-four .align-middle {
    text-align: center;
}

.custom-popup-form .step-four .underline {
    text-decoration: underline;
}

.custom-popup-form .step-four .highlight {
    color: #FFE500;
 }

.custom-popup-form .outline .step-four .actions,.custom-popup-form .outline .step-three .actions,.custom-popup-form .outline .step-two .actions {
    text-align: right;
}

.custom-popup-form .outline .step-two .actions .desc-text {
    float: left;
}

.custom-popup-form .outline .agreement-wrapper {
    height: 300px;
    border: 1px solid #666;
    overflow-y: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.custom-popup-form .agreement-wrapper .form-horizontal {
    margin-bottom: 1em;
}

.custom-popup-form .agreement-wrapper .form-horizontal:after {
    clear: both;
    display: block;
    float: none;
    content: ' ';
    width: 100%;
    height: 0;
}

.custom-popup-form .agreement-wrapper .form-horizontal dt, .custom-popup-form .agreement-wrapper .form-horizontal dd {
    display: inline-block;
    float: left;
    margin-bottom: 0.5em;
}

.custom-popup-form .agreement-wrapper .form-horizontal dt {
    clear: left;
    margin-right: 1em;
}

.custom-popup-form .outline .accept-agreement {
    display: inline-block;
    width: 100%;
    margin: 20px 0 0;
    line-height: 1.5
}

.custom-popup-form .outline .accept-agreement label:after {
    clear: both;
    float: none;
    display: block;
    content: ' ';
}

.custom-popup-form .outline .accept-agreement input {
    border: 2px solid #666;
    padding: 5px;
    float: left;
    margin: 6px 20px 15px 0
}

.custom-popup-form .outline .accept-agreement input[disabled] {
    border-color: #EEE;
    color: #EEE;
    background: #EEE;
}

.custom-popup-form .outline .accept-agreement input:focus {
    border: 2px solid #222
}

.custom-popup-form .step-four .actions .please-wait-text {
    display: block;
    margin: 0.5em 0.95em 0.5em 0;
}

.custom-popup-form .step-five {
    text-align: center;
}

.custom-popup-form .step-five .actions {
    margin: 2em 0 6em 0;
}
#personnel_popup_form{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    float: left;
    z-index: 999999;
}
#addContactModal{
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 100%;
    max-width: 940px;
    position: relative;
    top: 10%;
    /*transform: translateY(-50%);*/
}
#agreement_popup_form{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,.5);
    /*height: 100%;*/
    /*width: 100%;*/
    float: left;
    z-index: 999999;
}
#agreementModal{
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 100%;
    max-width: 940px;
    position: relative;
    top: 10%;
    /*transform: translateY(-50%);*/
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,.4)
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 100%;
    max-width: 940px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    right: 20px;
    top: 5px
}

.close:focus,.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

@media only screen and (max-width: 900px) {
    .custom-popup-form .outline .half-column {
        width:100%
    }

    .custom-popup-form .steps-nav-items .steps-nav-item {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .custom-popup-form .wrapper .actions a {
        width:100%;
        margin: 0 0 10px!important
    }

    .custom-popup-form .wrapper .have-account,.custom-popup-form .wrapper .registration-terms {
        text-align: center;
        margin: 10px 0;
        width: 100%
    }

    .custom-popup-form .outline {
        padding: 20px
    }

    .custom-popup-form .outline li {
        width: 100%
    }

    .custom-popup-form .outline li input {
        width: 100%;
        height: 45px
    }

    .custom-popup-form .outline .accept-agreement input {
        width: 100%
    }

    .modal-content {
        padding: 30px 0
    }

    .custom-popup-form .outline .half-column ul li .select-style,.custom-popup-form .outline .half-column ul li input {
        width: 100%
    }
}