<div class="col-3">
	<div class="col-bg">	
		<div>
			<h3 class="no-margin-top"><strong>Agency Information:</strong></h3>
			<table class="account_table">
				<tr>
					<td>
						<label for="agency_name">Agency Legal Name</label>
					</td>
					<td>
						<input type="text" name="agency_name" id="agency_name" value={{account.agency_name}} readonly>
					</td>
				</tr>

				<tr>
					<td>
						<label for="agency_abbreviation">Agency Abbreviation</label>
					</td>
					<td>
						<input type="text" name="agency_abbreviation" id="agency_abbreviation" value={{account.agency_abbreviation}} readonly>
					</td>
				</tr>

				<tr>
					<td>
						<label for="agency_address_1">Agency Address 1</label>
					</td>
					<td>
						<input type="text" name="agency_address_1" id="agency_address_1" value={{account.agency_address_1}} readonly>
					</td>
				</tr>

				<tr>
					<td>		
						<label for="agency_address_2">Agency Address 2</label>
					</td>
					<td>
						<input type="text" name="agency_address_2" id="agency_address_2" value={{account.agency_address_2}} readonly>
					</td>
				</tr>

				<tr>
					<td>
						<label for="agency_city">Agency City</label>
					</td>
					<td>
						<input type="text" name="agency_city" id="agency_city" value={{account.agency_city}} readonly>
					</td>
				</tr>

				<tr>
					<td>
						<label for="agency_zip">Agency Zip</label>
					</td>
					<td>
						<input type="text" name="agency_zip" id="agency_zip" value={{account.agency_zip}} readonly>
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="agency_state">Agency State</label>
					</td>
					<td>
						<input type="text" name="agency_state" id="agency_state" value={{account.agency_state}} readonly>
					</td>
				</tr>

				<tr>
					<td>
						<label for="account_name">Account Name</label>
					</td>
					<td>
						<input type="text" name="account_name" id="account_name" value={{account.account_name}} readonly>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div>
			<h3><strong>Administrator Notes:</strong></h3>
			<textarea id="account_notes">{{account.account_notes}}</textarea>
		</div>
	</div>
</div>

<div class="col-3">	
	<div class="col-bg">
		<div>
			<h3 class="no-margin-top-bottom"><strong>Primary Authorized Contact:</strong></h3>
			<table class="account_table">
				<tr>
					<td>
						<label for="primary_first_name">First Name</label>
					</td>
					<td>
						<input type="text" name="primary_first_name" id="primary_first_name" value={{account.primary_first_name}}>
					</td>
				</tr>

				<tr>
					<td>
						<label for="primary_last_name">Last Name</label>
					</td>
					<td>
						<input type="text" name="primary_last_name" id="primary_last_name" value={{account.primary_last_name}}>
					</td>
				</tr>

				<tr>
					<td>
						<label for="primary_phone">Phone</label>
					</td>
					<td>
						<input type="text" name="primary_phone" id="primary_phone" value={{account.primary_phone}}>
					</td>
				</tr>

				<tr>
					<td>		
						<label for="primary_role">Role/Rank</label>
					</td>
					<td>
						<input type="text" name="primary_role" id="primary_role" value={{account.primary_role}}>
					</td>
				</tr>
			</table>
		</div>
		<hr>

		<div id="authorizedTableWrapper">
			<h4 class="text-center"><strong>Additional Authorized Contacts:</strong></h4>
			<table id="authorizedContactsTable">
				{{#each authorizedContact in authorizedContacts}}
					<tr>
						<td>{{authorizedContact.first_name}} {{authorizedContact.last_name}}</td>
						<td>{{authorizedContact.email}}</td>
						<td><a {{action 'viewAuthorizedContact' authorizedContact}}>View Details</a></td>
						<td><span {{action 'deleteAuthorizedContact' authorizedContact.id}}><span class='glyphicon glyphicon-remove' aria-hidden='true' style="cursor:pointer"></span></span></td>
					</tr>
				{{else}}
					No additional contact
				{{/each}}
			</table>
			<button id="authorizedContactButton" class="btn btn-primary" {{action 'showAuthorizedContact' }}>Add Contact</button>
		</div>
		<hr>
		<div>
			<h3><strong>Administrator Information:</strong></h3>
			<table class="account_table">
				<tr>
					<td>
						<label for="admin_first_name">First Name</label>
					</td>
					<td>
						<input type="text" name="admin_first_name" id="admin_first_name" value={{account.admin_first_name}}>
					</td>
				</tr>

				<tr>
					<td>
						<label for="admin_last_name">Last Name</label>
					</td>
					<td>
						<input type="text" name="admin_last_name" id="admin_last_name" value={{account.admin_last_name}}>
					</td>
				</tr>

				<tr>
					<td>
						<label for="admin_phone">Phone</label>
					</td>
					<td>
						<input type="text" name="admin_phone" id="admin_phone" value={{account.admin_phone}}>
					</td>
				</tr>

				<tr>
					<td>		
						<label for="admin_role">Role/Rank</label>
					</td>
					<td>
						<input type="text" name="admin_role" id="admin_role" value={{account.admin_role}}>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="col-3">
	<div class="col-bg">
		<div>
			<h3 class="no-margin-top"><strong>Security Information:</strong></h3>
			<table class="account_table">
				<tr>
					<td>
						<label for="security_email">Administrator Email</label>
					</td>
					<td>
						<input type="text" name="security_email" id="security_email" value={{account.security_email}} readonly>
					</td>
				</tr>

				<tr>
					<td>
						<label for="security_username">Agency Username</label>
					</td>
					<td>
						<input type="text" name="security_username" id="security_username" value={{account.security_username}}>
					</td>
				</tr>

				<tr>
					<td>
						<label>Validation Question</label>
					</td>
					<td>
						{{select-list 
							id="security_validation_question"
				            multiple=false
				            content=validationQuestions
				            optionValuePath="content.id"
				            optionLabelPath="content.label"
				            value=validationQuestionValue
				            options=selectOptions
				        }}
					</td>
				</tr>

				<tr>
					<td>		
						<label for="security_validation_answer">Validation Answer</label>
					</td>
					<td>
						<input type="text" name="security_validation_answer" id="security_validation_answer" value={{account.security_validation_answer}}>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div>
			<h3><strong>Signup Information:</strong></h3>
			<table class="account_table">
				<tr>
					<td>
						<label for="signup_account_type">Account Type</label>
					</td>
					<td>
						{{select-list 
							id="signup_account_type"
				            multiple=false
				            content=accountTypes
				            optionValuePath="content.id"
				            optionLabelPath="content.label"
				            value=accountTypeValue
				            options=selectOptions
				        }}
					</td>
				</tr>

				<tr>
					<td>
						<label>Government Agency</label>
					</td>
					<td>
						{{select-list 
							id="signup_government_agency"
				            multiple=false
				            content=governmentAgencies
				            optionValuePath="content.id"
				            optionLabelPath="content.label"
				            value=governmentAgencyValue
				            options=selectOptions
				        }}
					</td>
				</tr>

				<tr>
					<td>
						<label for="signup_authorized_purchaser">Authorized Purchaser</label>
					</td>
					<td>

						{{select-list 
							id="signup_authorized_purchaser"
				            multiple=false
				            content=authorizedPurchaser
				            optionValuePath="content.id"
				            optionLabelPath="content.label"
				            value=authorizedPurchaserValue
				            options=selectOptions
				        }}

					</td>
				</tr>

				<tr>
					<td>
						<label>Account Status</label>
					</td>
					<td>
						{{select-list 
							id="signup_account_status"
				            multiple=false
				            content=accountStatus
				            optionValuePath="content.id"
				            optionLabelPath="content.label"
				            value=accountStatusValue
				            options=selectOptions
				        }}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

{{#if showAuthorizedContactModal}}
    {{sl-authorized-contact-modal
            viewAuthorizedContactInfo=viewAuthorizedContactInfo
            authorizedContacts=authorizedContacts
            account_id=account.id
            closeAction="closeModal"
            store=store
            notifications=notifications
    }}
{{/if}}

<div class="page-action">
	<button class="btn btn-link" {{action 'exit' }}>Exit</button>
	<button class="btn btn-primary" {{action 'save' }}>Save</button>
</div>