<div class="rc-products">
    {{#searchable-list
        id="accountList"
        searchPlaceholder="Enter the name, email, and agency name to search"
        noSearchResultText="No results matched your search criteria. Please try again."
        noItemText="You do not have any accounts registered."
        model=model
        actions=bulkActions
        bulkAction="bulkAction"
        limit=limit
        as |model-display|
    }}
        {{#if model-display}}
            {{sl-account-list accounts=model selectedItems=selectedIds }}
        {{/if}}
    {{/searchable-list}}
</div>