{{#unless isProcessing}}
	<button data-remodal-action="close" class="close-btn"><i class="fa fa-times"></i></button>
{{/unless}}

<h2>Add Authorized Contact</h2>

<div>
	<table class="account_table">
		<tr>
			<td>
				<label for="addAuthorizeContact_first_name">First Name</label>
			</td>
			<td>
				<input type="text" name="addAuthorizeContact_first_name" id="addAuthorizeContact_first_name" value="{{viewAuthorizedContactInfo.first_name}}">
			</td>
		</tr>

		<tr>
			<td>
				<label for="addAuthorizeContact_last_name">Last Name</label>
			</td>
			<td>
				<input type="text" name="addAuthorizeContact_last_name" id="addAuthorizeContact_last_name" value="{{viewAuthorizedContactInfo.last_name}}">
			</td>
		</tr>

		<tr>
			<td>
				<label for="addAuthorizeContact_email">Email</label>
			</td>
			<td>
				<input type="text" name="addAuthorizeContact_email" id="addAuthorizeContact_email" value="{{viewAuthorizedContactInfo.email}}">
			</td>
		</tr>

		<tr>
			<td>
				<label for="addAuthorizeContact_phone">Phone</label>
			</td>
			<td>
				<input type="text" name="addAuthorizeContact_phone" id="addAuthorizeContact_phone" value="{{viewAuthorizedContactInfo.phone}}">
			</td>
		</tr>

		<tr>
			<td>		
				<label for="addAuthorizeContact_role">Role/Rank</label>
			</td>
			<td>
				<input type="text" name="addAuthorizeContact_role" id="addAuthorizeContact_role" value="{{viewAuthorizedContactInfo.role}}">
			</td>
		</tr>
	</table>
</div>

<div class="step-action">
	<button class="btn btn-link" {{action 'exit' }}>Exit</button>
	{{#if viewAuthorizedContactInfo}}
		<button class="btn btn-primary" {{action 'updateAuthorizedContact' viewAuthorizedContactInfo.id}}>Update Authorized Contact</button>
	{{else}}
		<button class="btn btn-primary" {{action 'addAuthorizedContact' }}>Add Authorized Contact</button>
	{{/if}}
</div>