<li class="row" style="z-index:{{zIndex}}">
    <span class="col account-type text-capitalize">
        {{#if-equal param1=account.signup_account_type param2="public"}}
            Public
        {{/if-equal}}
        {{#if-equal param1=account.signup_account_type param2="government"}}
            Government
        {{/if-equal}}
    </span>
    <span class="col agency-name">{{ account.agency_name }}</span>
    <span class="col account-signup">{{UnixtimeToDate account.account_signup_date 'MMM Do YYYY'}} </span>
    <span class="col contact-name">{{ account.primary_first_name }} {{ account.primary_last_name }}</span>
    <span class="col admin-email">{{ account.security_email }}</span>
    <span class="col account-status text-capitalize">
        {{#if-equal param1=account.account_status param2="not_confirmed"}}
            Not Confirmed
        {{/if-equal}}
        {{#if-equal param1=account.account_status param2="submitted"}}
            Submitted
        {{/if-equal}}
        {{#if-equal param1=account.account_status param2="in_progress"}}
            In Progress
        {{/if-equal}}
        {{#if-equal param1=account.account_status param2="confirmed"}}
            Completed
        {{/if-equal}}
        {{#if-equal param1=account.account_status param2="failed"}}
            Failed
        {{/if-equal}}
    </span>
    <span class="col account-actions">
        {{#trigger-dropdown}}
            {{#link-to 'sladministration.accounts.account' account.id class="edit-link"}} Edit/View {{/link-to}}
        {{/trigger-dropdown}}
    </span>
    <span class="clearfix">&nbsp;</span>
</li>
