<li class="row heading">
	<span class="col account-type">User Type</span>
    <span class="col agency-name">Agency Name</span>
    <span class="col account-signup">Sign-Up Date</span>
    <span class="col contact-name">Contact</span>
    <span class="col admin-email">Email</span>
    <span class="col account-status">Status</span>
    <span class="col account-actions">Action</span>
	<span class="clearfix">&nbsp;</span>
</li>

{{#each accounts as |account index|}}
    {{sl-account-list-item
        account=account
        index=index
        total=accounts.length
        disableAction="disable"
        enableAction="enable"
        deleteAction="delete"
    }}
{{/each}}