@import "../../../../../dashboard/2.0/styles/config";

.addon-sladministration {
	.table-list {
		.col {
			overflow: hidden;
			text-overflow: ellipsis;

			&.agency-name {
				min-width: 250px;
			}

			&.admin-email {
				min-width: 200px;
			}

			&.contact-name {
				min-width: 200px;
			}

			&.account-status {
				min-width: 140px;
			}

			&.account-actions {
				overflow: visible;
			}
		}
	}

	.text-capitalize {
		text-transform: capitalize;
	}

	.text-center {
		text-align:center;
	}

	.no-margin-top {
		margin-top:0;
	}

	.no-margin-top-bottom {
		margin-top:0;
		margin-bottom:0;
	}

	.account_table {
		margin-left: auto;
		margin-right: auto;
		text-align: left;

		td {
			padding-bottom:10px;

			&:first-child {
				padding-right:10px;
			}
		}

		input[readonly], input[readonly="readonly"] {
			background:#d7d6d9;
		}
	}

	.col-3 {
		width: 33.33%;
		float: left;

		#account_notes {
			min-width: 250px;
			min-height: 100px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		.col-bg {
			border: 1px solid #e4e7ed;
			border-collapse: separate;
			border-spacing: 15px;
			background-color: #fff;
			padding:20px;
			margin-left: 5px;
			margin-right: 5px;

			h3{
				text-align:center;
			}
		}

		#authorizedTableWrapper{
			#authorizedContactsTable{
				margin-left: auto;
				margin-right: auto;

				td{
					padding-right: 10px;

					&:last-child{
						padding-right: 0px;
					}
				}
			}

			#authorizedContactButton{
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-top: 20px;
			}
		}
	}

	#reportsWrapper{
		.datepicker-wrapper{
			display: inline-block;
		}

		.fieldGroupWrapper{
			.field-group{
				margin-bottom: 15px;

				.datePickerIcon{
					margin-left: -35px;
					z-index: -1;
					pointer-events: none;
				}
			}
		}
	}

	@media screen and (max-width:1000px){
		.col-3{
			width: 100%;
		}
	}
}